# R files
.Rproj.user
*.R*istory*
.RData
.httr-oauth

# OS useless
*.DS_Store
*.DS_Store?

# RStudio files
.Rproj.user/

# General extensions
*~
*.pdf
*.doc*
*.xls*

# package development
envPred*tar.gz
inst/doc
inst/web

# Personal
TODO.md
tmp*
docs
