# R files
.Rproj.user
*.R*istory*
.RData
.httr-oauth

# OS useless
*.DS_Store
*.DS_Store?

# RStudio files
.Rproj.user/

# General extensions
*~
*.pdf
*.doc*
*.xls*

# package development
envPred.Rcheck/
envPred*tar.gz
inst/doc
inst/web

# Personal
TODO.md
tmp*
docs

# manuscript
manuscript

manuscript/doc/*.pdf
manuscript/doc/*.md
manuscript/doc/*.html
manuscript/*.pdf
manuscript/*.md
manuscript/*.html
manuscript/cover_letter*

manuscript/.drake/
manuscript/pdfs/
manuscript/output/
manuscript/ignore/

manuscript/.DS_Store
manuscript/*.Rapp.history
manuscript/*.Rhistory
manuscript/*.RData
manuscript/*tmp*
manuscript/*.rda
manuscript/*.rds
manuscript/TODO.md
manuscript/*~$*
